.audio{
    display: none;
}

.wrapper {
    height: 100vh;
    font-family: 'Pathway Gothic One', sans-serif;
    background: url(../img/stars-bg.jpg) no-repeat center top / cover;

}

.stars {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    height: 50em;
    width: 1280px;
    margin-left: -640px;
    font-size: 4em;
    line-height: 1.3;
    letter-spacing: 6px;
    left: 50%;
    text-align: justify;
    color: #fafa7f;
    transform: perspective(300px) rotateX(25deg);
    transform-origin: 50% 100%;
}

.crawls {
    position: relative;
    top: 100%;
    animation: slide 30s linear;
    animation-iteration-count: infinite;
}

.heading, .subheading{
    text-align: center;
    margin-bottom: 1em;
}

.heading{
    font-size: 2em;
    text-transform: uppercase;
}

.subheading{
    text-align: center;
    margin-bottom: 1em;
}

.crawls-paragraph{
    margin-bottom: 1em;
}

.upper{
    text-transform: uppercase;
}

@keyframes slide {
    0% {
        top: 100%;
    }
    100% {
        top: -100%;
    }
}