.backdrop {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 50;
	background-color: rgba(0,0,0, .3);
}

.modal {
	position: fixed;
	width: 450px;
	min-height: 200px;
	z-index: 1000;
	font-size: 18px;
	border-radius: 7px;
	overflow: hidden;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);

	&--success {
		background-color: rgb(158, 255, 140);
	}

	&--delete {
		background-color: #e94b35;
	}

	&--submit {
		background-color: #ffffff;
		color: black;

		.modal-header {
			background-color: #ff0000;
			color: white;
		}
	}

	&-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		background-color: rgba(0,0,0, .2);
		font-weight: bold;
		font-size: 18px;

		&__text {
			padding: 0;
			margin: 0;
		}

		.close-btn {
			line-height: 20px;
		}
	}

	&-footer {
		display: flex;
		padding: 0 10px 20px;
		align-items: center;
		justify-content: space-between;

		&--single {
			justify-content: center;
		}
	}
}