.container {
    position: relative;
    max-width: 1170px;
    font-family: sans-serif;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.game {
    border-collapse: collapse;
    margin: 0 auto;

}

.mole {
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

.active {
    background-color: #4c8bff;
}

.user {
    background-color: #6be14d;
}

.ai {
    background-color: #ff4532;
}

.settings{
    padding: 15px;
    border: 1px solid black;
    position: absolute;
    right: 10px;
    top: 60px;
    background-color: #f3f3f3;
}

.settings-select {
    width: 250px;
    font-size: 18px;
}

.settings-btn {
    display: block;
    width: 150px;
    margin-top: 25px;
    padding: 10px;
    background: white;
    border: 1px solid black;
}

.settings-btn:disabled {
    color: gray;
    border-color: gray;
}