.cart-item {
	position: relative;
	display: flex;
	background-color: #f8f9f4;
	border-radius: 10px;
	padding: 10px 20px;
	justify-content: space-between;
	align-items: center;

	&:not(:last-child) {
		margin-bottom: 10px;
	}

	&__content {
		display: flex;
		align-items: center;
		height: 100px;
	}

	&__image {
		height: 100%;
	}

	&__name {
		font-size: 20px;
		font-weight: bold;
		margin-left: 50px;
	}

	&-count {

		display: flex;
		align-items: center;

		&__input {
			height: 30px;
			padding: 3px;
			box-sizing: border-box;
			width: 50px;
			margin: 0 5px;
			border-radius: 3px;
			text-align: center;
			border: 1px solid red;

		}


		&__controls {
			display: flex;
			align-items: center;
		}

		&__price {
			font-size: 18px;
			font-weight: bold;
			margin-left: 30px;
			width: 86px;
		}
	}
}

.cart-btn {
	display: inline-block;
	width: 30px;
	height: 30px;
	box-sizing: border-box;
	background-color: red;
	color: white;
	font-size: 20px;
	font-family: monospace;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	outline: none;
}

.remove-btn {
	position: absolute;
	right: 5px;
	top: 0px;
	font-size: 25px;
	cursor: pointer;
}
