body {
    font-family: sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 30px 0;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    border: 1px solid #7b7b7b;
    width: 700px;
    min-height: 200px;
    margin: 0 auto 30px;
}

.card-header {
    box-sizing: border-box;
    border-bottom: 1px solid #7b7b7b;
    width: 100%;
    text-align: right;
    padding: 5px;
}

.card-buttons {
    position: absolute;
    top: 10px;
    right: 7px;
}

.card-buttons__button {
    font-size: 25px;
    color: #7b7b7b;
    background: transparent;
    border: none;
    cursor: pointer;
}

.card-buttons__button:hover, .card-buttons__button:active, .card-buttons__button:focus {
    outline: none;
    color: black;
}


.card-body {
    display: flex;
    margin-top: 10px;
    padding: 20px;
}

.user-avatar {
    margin-right: 15px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    align-self: center;
}

.user-name {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}

.user-email {
    display: inline-block;
    font-size: 14px;
    color: #7b7b7b;
    margin-bottom: 15px;
}

.user-heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.user-text {
    line-height: 18px;
    text-align: justify;
}
