
.modal {
    position: fixed;
    width: 400px;
    height: 200px;
    z-index: 1000;
    border-radius: 7px;
    overflow: hidden;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

&--success {
     background-color: rgb(158, 255, 140);
 }

&--delete {
     background-color: #e94b35;
 }

&-header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
     background-color: rgba(0,0,0, .2);
     font-weight: bold;
     font-size: 18px;
 }

&-footer {
     display: flex;
     padding: 10px;
     align-items: center;
     justify-content: space-between;
 }
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 50;
  background-color: rgba(0,0,0, .3);
}
