@import "fonts", 'colors';

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 320px;
  margin: 0 auto;
}

.page-wrapper {
  font-family: $lato;
}

.hidden {
  display: none;
}