@media screen and (min-width: 321px) {
	.header-content {
		background-size: cover;
	}

	.products__inner {
		width: 100%;

		&--pizza {
			background: url("../img/pizza-delivery.png") no-repeat center top / cover;
		}

		&--salads {
			background: url("../img/salads.png") no-repeat center top / cover;
		}

		&--desserts {
			background: url("../img/deserts.png") no-repeat center top / cover;
		}
	}

	.products__name {
		margin: auto;
	}
}

@media screen and (min-width: 640px) {
	.header-nav {
		&__heading {
			margin-left: 38px;
			font-size: 24px;
		}
	}

	.nav-list {
		top: 74px;
		width: 243px;
	}

	.nav-item {
		font-size: 14px;

		&:nth-child(-n+5) {
			padding: 21px 0 21px 27px;
		}
	}

	.hamburger {
		width: 82px;
		height: 74px;

		&__item {
			width: 33px;
			height: 5px;
			left: 50%;
			transform: translateX(-50%);

			&--top {
				top: 25px;
			}

			&--middle {
				top: 34px;
			}

			&--bottom {
				top: 43px;
			}
		}

		&--close {
			.hamburger__item {
				width: 33px;
				height: 5px;
				left: 25px;
				top: 33px;
			}
		}
	}

	.header-content {
		padding: 30px 38px 197px 37px;

		&__site {
			font-weight: 700;
			font-size: 24px;
			margin-top: 22px;
		}
	}


	.header-motto {
		font-size: 36px;

		&__item:last-child {
			margin-top: 14px;
		}
	}

	.products__name {
		font-size: 36px;
	}

	.products-button {
		padding: 55px 68px;
		font-size: 32px;
	}

	.section-title {
		margin-bottom: 20px;

		&__heading {
			font-size: 40px;
			height: 35px;
		}

		&__subheading {
			font-size: 20px;
			margin-top: 10px;
		}
	}

	.menu {
		margin-bottom: 100px;

		&__category {
			font-size: 40px;
			padding: 23px 0 23px 38px;
			margin-bottom: 38px;
		}

		&__subcategory {
			font-size: 30px;
			margin-bottom: 35px;

			&:after {
				width: 49px;
				height: 49px;
			}
		}
	}

	.menu-list {
		margin-bottom: 40px;
	}

	.item-heading {
		font-size: 27px;
	}

	.menu-item {

		&__description {
			font-size: 18px;
			line-height: 18px;
		}
	}

	.item-heading {
		margin-left: 15px;

		&:before {
			width: 4px;
			height: 4px;
			top: 13px;
			left: -12px;
		}
	}

	.footer-content {
		padding: 28px 0 23px;

		&__item {
			line-height: 25px;
		}
	}

	.footer-text {
		font-size: 18px;

	}

}

@media screen and (min-width: 641px){
	.header-nav {
		padding: 5px 30px;
		align-items: center;
		font-size: 10px;
	}

	.header-nav__heading {
		display: none;
	}

	.nav-list {
		display: flex;
		position: static;
		flex-direction: row;
		width: 100%;
		box-shadow: none;

	}

	.nav-item {
		&:nth-child(-n+5) {
			color: #ebebeb;
			background: transparent;
			padding: 0;
			box-shadow: none;
			border: none;
			text-transform: uppercase;
			font-size: 13px;
		}

		&:not(:last-child) {
			margin-right: 18px;
		}
	}

	.hamburger {
		display: none;
	}

	.main-logo {
		display: inline-block;
	}
}

@media screen and (min-width: 980px) {
	.nav-item:nth-child(-n+5)  {
		font-size: 16px;
	}

	.nav-item:not(:last-child) {
		margin-right: 32px;
	}

	.header-content {
		padding: 64px 0 359px 30px;

		&__site {
			margin-top: 57px;
		}
	}

	.header-motto {
		font-size: 54px;

		&--item:last-child {
			margin-top: 28px;
		}
	}

	.products-list {
		flex-direction: row;
		justify-content: center;
	}

	.products-item {
		width: calc(100% / 3);

		&:hover .products__inner, :active .products__inner{
			transform: scale(1.1);
		}

		&:hover .products__name, :active .products__name {
			transform: none;
		}
	}

	.products__inner {
		height: 327px;

		&--pizza {
			background: url("../img/pizza-big.png") no-repeat center top / cover;
		}

		&--salads {
			background: url("../img/salads-big.png") no-repeat center top / cover;
		}

		&--desserts {
			background: url("../img/desserts-big.png") no-repeat center top / cover;
		}
	}

	.products-button {
		display: none;
	}

	.products__name {
		font-size: 38px;
	}

	.section-title {
		margin: 60px 0 21px 30px;

		&__heading {
			font-size: 34px;
		}

		&:after {
			display: block;
			width: 109px;
			height: 89px;
			top: -15px;
			right: -20px;
		}
	}

	.menu__container {
		flex-direction: row;
	}

	.menu__category {
		font-size: 34px;
	}

	.menu__subcategory {
		font-size: 26px;

		&:after {
			width: 42px;
			height: 42px;
		}
	}

	.item-heading {
		font-size: 24px;
	}

	.menu-item__description {
		font-size: 16px;
	}

	.footer-content {
		padding: 8px 30px;
		justify-content: space-between;
	}

	.footer-text {
		flex-direction: row;
		margin: 0;
	}

}

@media screen and (min-width: 1200px) {
	.header-motto {
		font-size: 62px;
	}

	.header-content__site {
		font-size: 38px;
	}

	.products__name {
		font-size: 43px;
	}

	.section-title {
		&__heading {
			font-size: 40px;
		}
	}

	.menu__category {
		font-size: 40px;
		padding: 18px 0 18px 23px;
	}

	.menu__subcategory {
		font-size: 30px;
	}

	.menu__subcategory {

		&:after {
			width: 49px;
			height: 49px;
		}
	}

	.item-heading__name {
		font-size: 27px;
	}

	.menu-item__description {
		font-size: 18px;
	}

	.footer-text {
		font-size: 18px;
	}
}
