@import '../../node_modules/reset-css/sass/reset';
@import "fonts";
@import "global";
@import "colors";


//header styles

.header {
	margin-bottom: 5px;
}

.header-nav {
	display: flex;
	justify-content: space-between;
	position: relative;
	background: $nav-gray;
	color: #ffffff;
	font-size: 12px;

	&__heading {
		font-family: $montserrat;
		align-self: center;
		letter-spacing: 0.2px;
		margin-left: 18px;
	}
}

.nav-list {
	display: none;
	flex-direction: column;
	width: 182px;
	position: absolute;
	top: 35px;
	right: 0;

	&--active {
		display: flex;
	}
}

.nav-item {
	display: inline-block;
	padding: 12px 0 10px 12px;
	background: #fafafa;
	color: #444444;
	border-bottom: 1px solid #e9e9e9;

	&:first-child {
		box-shadow: inset 0 6px 3px -5px rgba(0, 0, 0, .5);
		padding-top: 14px;
	}

	&:nth-child(2) {
		padding: 9px 0 9px 13px;
	}

	&:nth-child(3) {
		padding-top: 8px;
		padding-bottom: 9px;
	}

	&:nth-child(4) {
		padding-top: 9px;
	}

	&:last-child {
		padding-top: 9px;
		padding-bottom: 5px;
		box-shadow: 0 5px 0 #fafafa
	}

	&:hover, :active {
		background-color: #f5f5f5;
	}
}


.main-logo {
	display: none;

	&__img {

	}
}

.hamburger {
	position: relative;
	background-color: #202529;
	width: 41px;
	height: 35px;
	cursor: pointer;

	&__item {
		display: block;
		position: absolute;
		width: 15px;
		height: 2px;
		background: #ffffff;
		left: 14px;
		transition: all .2s;

		&--top {
			top: 13px;
		}

		&--middle {
			top: 17px;
		}

		&--bottom {
			top: 21px;
		}
	}
}

.hamburger--close {
	.hamburger__item--middle {
		display: none;
	}

	.hamburger__item--top, .hamburger__item--bottom {
		left: 10px;
		height: 3px;
		width: 19px;
		top: 17px;
	}

	.hamburger__item--top {
		transform: rotate(225deg);
	}

	.hamburger__item--bottom {
		transform: rotate(-225deg);
	}
}

.header-content {
	background: url("../img/header-bg.png") no-repeat center top / 320px 175px;
	padding: 18px 20px 94px;
	font-weight: 700;

	&__site {
		display: inline-block;
		margin-top: 10px;
		color: #a6d6e0;
		font-size: 14px;
	}
}

.header-motto {
	color: #ffffff;
	font-size: 16px;

	&__item {
		display: block;

		&:last-child {
			margin-top: 7px;
		}
	}
}


.products-list {
	display: flex;
	flex-direction: column;
}

.products-item {
	color: #ffffff;
	overflow: hidden;


	&:not(:last-child) {
		margin-bottom: 2px;
	}

	&:hover .products__name, :active .products__name {
		transform: scale(1.1);
	}
}

.products__link {
	display: flex;
	cursor: pointer;
}

.products__inner {
	display: flex;
	min-width: 249px;
	transition: all .3s;


	&--pizza {
		background: url("../img/pizza-delivery-small.png") no-repeat center top / cover;
	}

	&--salads {
		background: url("../img/salads-small.png") no-repeat center top / cover;
	}

	&--desserts {
		background: url("../img/deserts-small.png") no-repeat center top / cover;
	}
}

.products__name {
	font-size: 20px;
	font-weight: 700;
	transition: all .3s;

	&--pizza {
		margin: 24px auto 27px 64px;
	}

	&--salads {
		margin: 27px auto 27px 74px;
	}

	&--desserts {
		margin: 26px auto 24px 84px;
	}
}

.products-button {
	display: inline-block;
	font-size: 11px;
	background-color: $main-green;
	padding: 28px 33px 34px 30px;
}


////////////////////////////////////////////////////////////////////

.section-title {
	position: relative;
	margin: 22px 0 11px 8px;

	&:after {
		content: '';
		position: absolute;
		display: none;
		top: 50%;
		transform: translate(-50%);
		right: 0;
		background: url('../img/menu-logo.png') no-repeat left center / contain;
	}

	&__heading {
		font-size: 20px;
		text-transform: uppercase;
		text-align: left;
		height: 17px;
	}

	&__subheading {
		display: inline-block;
		color: #cbccce;
		font-size: 10px;
	}
}


.menu {
	margin-bottom: 34px;

	&__container {
		display: flex;
		flex-direction: column;
	}

	.container {
		color: $main-gray;
	}

	&__category {
		padding: 9px 0 8px 19px;
		text-transform: uppercase;
		font-size: 20px;

		&--gray {
			padding: 8px 0 9px 19px;
			color: $main-green;
			background-color: $main-gray;
		}

		&--green {
			padding: 7px 0 10px 19px;
			color: #ffffff;
			background-color: $main-green;
		}
	}


	&__inner-wrapper {
		padding: 0 18px;
	}


	&__subcategory {
		font-size: 15px;
		text-transform: uppercase;
		margin: 9px 0 13px 0;
		padding: 8px 0;
		position: relative;

		&--pizza {
			@extend .menu__subcategory;
			margin-top: 9px;
			margin-bottom: 12px;

			&:after {
				content: '';
				position: absolute;
				width: 25px;
				height: 25px;
				right: -1px;
				top: 2px;
				background: url("../img/pizza-icon.png") no-repeat right center / contain;
			}
		}

		&--wine {
			@extend .menu__subcategory;
			margin-bottom: 12px;

			&:after {
				content: '';
				position: absolute;
				width: 13px;
				height: 24px;
				right: 5px;
				top: 3px;
				background: url("../img/wine-icon.png") no-repeat right center / contain;
			}
		}

		&--tea {
			@extend .menu__subcategory;
			margin-bottom: 12px;
			margin-left: 1px;

			&:after {
				content: '';
				position: absolute;
				width: 30px;
				height: 21px;
				right: -3px;
				top: 3px;
				background: url("../img/tea-icon.png") no-repeat right center / contain;
			}
		}

		&--beer {
			@extend .menu__subcategory;
			margin-bottom: 12px;

			&:after {
				content: '';
				position: absolute;
				width: 21px;
				height: 20px;
				right: 4px;
				top: 4px;
				background: url("../img/beer-icon.png") no-repeat right center / contain;
			}
		}

	}
}

.menu-list {
	margin-bottom: 14px;

	&--pizza {
		margin-bottom: 13px;
	}

	&--wine {
		margin-bottom: 30px;
	}
}


.item-heading {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-left: 6px;
	font-size: 14px;

	&:before {
		content: '';
		position: absolute;
		width: 2px;
		height: 2px;
		border-radius: 50%;
		top: 7px;
		left: -6px;
		background-color: black;
	}

	&__name {
		margin-bottom: 8px;
		letter-spacing: -0.2px;
	}

	&__price {
		font-weight: 700;
		margin-right: -3px;
	}
}

.menu-item {
	margin-bottom: 8px;

	&__description {
		text-align: justify;
		font-size: 9px;
		line-height: 10px;
		margin-left: 1px;
		letter-spacing: -0.1px;
	}
}

.menu-list--pizza .menu-item {
	&:first-child {
		margin-bottom: 9px;

		.item-heading__name {
			margin-bottom: 7px;
		}
	}

	&:nth-child(2) {
		margin-bottom: 9px;

		.item-heading__name {
			margin-bottom: 7px;
		}
	}

	&:nth-child(3) {
		margin-bottom: 9px;

		.item-heading__name {
			margin-bottom: 8px;
		}
	}

	&:last-child {
		margin-bottom: 8px;

		.item-heading__name {
			margin-bottom: 6px;
		}
	}
}

.menu-list--wine .menu-item {
	&:first-child {
		margin-bottom: 9px;

		.item-heading__name {
			margin-bottom: 7px;
		}

	}

	&:nth-child(2) {
		//margin-bottom: 10px;

		.item-heading__name {
			//margin-bottom: 7px;
		}
	}
}

.menu-list--tea {
	margin-bottom: 12px;

	.menu-item {
		&:first-child {
			margin-bottom: 10px;

			.item-heading__name {
				margin-bottom: 6px;
			}

		}

		&:nth-child(2) {
			margin-bottom: 9px;

			.item-heading__name {
				margin-bottom: 7px;
			}
		}

		&:nth-child(3) {
			margin-bottom: 9px;

			.item-heading__name {
				margin-bottom: 7px;
			}
		}

		&:nth-child(4) {
			margin-bottom: 13px;

			.item-heading__name {
				margin-bottom: 7px;
			}
		}
	}
}

.menu-list--beer .menu-item {
	&:first-child {
		margin-bottom: 9px;

		.item-heading__name {
			margin-bottom: 7px;
		}
	}

	&:last-child {
		.item-heading__name {
			margin-bottom: 7px;
		}
	}
}


//.menu__list:first-of-type {
//  margin-bottom: 12px;
//
//  .menu-item {
//    &:nth-child(2) {
//      margin-bottom: 9px;
//    }
//
//    &:last-child {
//      margin-bottom: 8px;
//    }
//  }
//}


.footer-content {
	display: flex;
	align-items: center;
	background-color: $main-green;
	color: #ffffff;
	padding: 11px 0 10px;
}

.footer-text {
	display: flex;
	flex-direction: column;
	font-size: 12px;
	text-align: center;
	margin: 0 auto;

	&__item {
		font-family: $montserrat;
		line-height: 16px;
		margin-left: 1px;

		&:first-child {
			margin-left: 3px;
		}

		&:last-child {
			margin-top: 2px;
		}
	}
}


//@import "media";



