@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*Global styling*/


body{
    font-family: 'Myriad Pro', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    margin: 0 auto;
    width: 1280px;
}

/*HEADER STYLING*/
/*Logo styling*/


.logo{
    display: inline-block;
    font-size: 80px;
    color: #000000;
    padding: 58px 0 40px;
}
.color-accent{
    color: #4bcaff;
}


/*Main navbar styling*/


.main-nav{
    width: 100%;
    background-color: #35444f;
}

.menu{
    width: 962px;
    margin: 0 auto;
}

.menu-item{
    display: inline-block;
}

.menu-link{
    display: block;
    padding: 23px 40px;
    color: #ffffff;
    font-size: 24px;
}

.menu-link:hover{
    background-color: #222f3a;
    border-left: 1px solid #828282;
    border-right: 1px solid #828282;
    transition: 0.3s;
}



/*CONTENT STYLING*/

.content{
    padding-top: 50px;
}


/*Sidenav styling*/

.content-nav{
    vertical-align: top;
    display: inline-block;
    width: 344px;
    border: 1px solid #29424e;
}

.content-menu-item{
    display: inline-block;
}

.content-menu-link{
    box-sizing: border-box;
    display: inline-block;
    width: 344px;
    padding: 30px 0 30px 44px;
    font-size: 27px;
    color: #485863;
}

.content-menu-link:hover{
    background-color: #dbdbdb;
    padding-left: 70px;
    transition: 0.3s;
}



/*styling content*/

.content-item{
    display: inline-block;
    width: 885px;
    margin-left: 40px;
}

.content-img{
    padding: 73px 0;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #29424e;
}

.content-img:hover img{
    transition: transform 0.3s;
    transform: scale(1.1);
}

.content-text{
    padding: 50px 0;
}

.content-text-item{
    line-height: 24px;
    color: #2c2c2c;
    font-size: 18px;
}

.content-text-item:nth-child(1){
    margin-bottom: 30px;
    font-weight: 400;
}



/*FOOTER STYLING*/

.footer{
    margin-bottom: 30px;
}
.footer-nav{
    display: inline-block;
    width: 100%;
    background-color: #b4b7ba;
}

.footer-menu{
    box-sizing: border-box;
    width: 100%;
    padding: 21px 34px 21px 44px ;
}

.footer-menu-item{
    display: inline-block;
    padding-right: 20px;
}

.footer-menu-link{
    font-size: 28px;
    color: #0c1927;
}

.footer-menu-link:hover{
    color: #3181a6;
    transition: 0.3s;
}

.footer-menu-item:last-child{
    color: #010101;
    font-size: 24px;
    margin-left: 191px;
    padding-right: 0;
}
