@import "./components/Modal/Modal";
@import "./components/UI/Button/Button";
@import "./components/UI/CloseButton/CloseBtn";
@import "./components/UI/Star/Star";
@import "./components/CartItem/CartItem";
@import "./components/Product/Product";
@import "components/List/List";
@import "./containers/CartList/CartList";
@import "./components//Header/Header.scss";

.container {
	margin: 0 auto;
	max-width: 1170px;
	padding: 0 15px;
}

.section-heading {
	font-size: 42px;
	color: red;
	margin: 15px 0;
}



