
p, h2, a{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.container{
    margin: 0 auto;
    max-width: 1059px;
}

.menu{
    margin: 0 auto;
    width: 578px;
    padding: 30px 0;
    list-style: none; 
}

.menu-item{
    display: inline-block;
    margin-right: 61px;
}

.menu-item:last-child{
    margin: 0;
}

.menu-link{
    color: #16a085;
    font-size: 18px;
    letter-spacing: 2.9px;
    text-decoration: none;
    text-transform: uppercase;
}

.main-article{
    background-color: #f5f6f7;
    text-align: center;
    padding-bottom: 88px;
}

.article-photo{
    width: 100%;
}

.article-heading{
    padding: 59px 0 34px;
    font-size: 22px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    
}

.article-text_item{
    line-height: 25px;
    color: #373737;
    letter-spacing: 2.5px;
    font-size: 16px;
    padding-bottom: 40px;
}

.btn {
    display: block;
    margin: 0 auto;
    padding: 23px 45px 18px;
    background-color: #16a085;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

.footer{
    padding: 45px 0;
}

.copyright{
    text-align: right;
    letter-spacing: 2.4px;
}

