.button {
	position: relative;
	padding: 5px 7px;
	min-width: 100px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	color: #fff;
	outline: none;
	transition: all .2s;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	bottom: 0;
}

.button:hover {
	box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
	bottom: 3px;
}

.button:disabled {
	position: static;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	opacity: 0.4;
	cursor: not-allowed;
}
