.button {
	position: relative;
	padding: 7px 10px;
	min-width: 150px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
	color: #fff;
	outline: none;
	transition: all .2s;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	bottom: 0;
}

.button:hover {
	box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
	bottom: 3px;
}
