.app {
    height: 100vh;
    font-family: sans-serif;
}

.container {
    max-width: 1000px;
    padding-right: 100px;
    margin-right: 0;
    margin-left: auto;
}

.columns {
    display: flex;
    justify-content: start;
    padding: 15px 0;
    flex-wrap: wrap;
}

.app-column {
    display: flex;
    align-self: start;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    min-height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ebecf0;
    margin-right: 30px;
    margin-bottom: 30px;
}

.column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.column-heading {
    font-weight: bold;
    font-size: 20px;
    margin-left: 15px;
    word-break: break-all;
}

.btn-sort {
    border: 1px solid black;
    text-transform: uppercase;
    font-size: 15px;
    padding: 5px 25px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.cards-list {
    padding: 10px;
    margin-bottom: 25px;
}

.cards-item {
    min-height: 40px;
    padding: 10px 5px;
    background-color: white;
    border-radius: 3px;
    box-shadow:0 1px 0 rgba(9,30,66,.25);
    text-align: justify;
    font-size: 16px;
    box-sizing: border-box;
}

.cards-item:not(:last-child) {
    margin-bottom: 10px;
}

.add-card {
    padding: 0 10px 15px;
    position: relative;
}


.column-input {
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #c6c6c6;
    background-color: transparent;
    width: 100%;
    padding: 10px 5px;
    font-size: 16px;
}


.btn-submit {
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 12px;
    bottom: 22px;
    width: 27px;
    height: 27px;
    background: transparent;
    border: 1px solid black;
    border-radius: 50%;
}

.btn-submit i {
    margin-top: 2px;
}

.add-column {
    position: absolute;
    top: 200px;
    left: 0;
    /*transform: translateX(-50%);*/
    text-align: center;
    /*width: 200px;*/
}

.add-column-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-input {
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #c6c6c6;
    background-color: transparent;
    padding: 10px 5px;
    margin-right: 30px;
    font-size: 25px;
    transition: all .3s;
    margin-bottom: 25px;
    width: 200px;
}

.add-input:focus {
    outline: none;
}

.add-input.error {
    border-bottom-color: red;
}
.add-input.ok {
    border-bottom-color: green;
}

.btn-add {
    background: transparent;
    border: 1px solid #c6c6c6;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 25px;
    bottom: 50px;
    cursor: pointer;
}


.over {
    border: 1px dotted black;
}

