
.product {
	width: 250px;
	border-radius: 5px;
	padding: 10px;
	background-color: #f8f9f4;
	position: relative;

	&__body{
		display: flex;
		flex-direction: column;
		align-items: center;
		//justify-content: center;
		height: 300px;
	}

	&__image {
		height: 250px;
	}

	&__name {
		font-size: 18px;
		font-weight: bold;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
	}

	&__price {
		font-size: 20px;
		font-weight: bold;
	}

	&__star {
		position: absolute;
		top: 15px;
		right: 15px;
	}

	&:last-child{
		justify-self: flex-start;
	}
}