@import "components/Modal/Modal";
@import "components/UI/Button/Button";
@import "components/UI/CloseButton/CloseButton";


.buttons {
	display: flex;
	align-items: center;
	margin: 0 auto;
	justify-content: space-between;
	padding: 150px;
	width: 400px;
}

