@import "./components/Modal/Modal";
@import "./components/UI/Button/Button";
@import "./components/UI/CloseButton/CloseBtn";

.buttons {
	display: flex;
	align-items: center;
	margin: 0 auto;
	justify-content: space-between;
	padding: 150px;
	width: 400px;
}

.star{
	color: red;
	cursor: pointer;
	transition: filter .3s;
}

.star:hover {
	filter: drop-shadow( 0px 0px 2px rgba(255, 0, 0, .5));
}

.products-list {
	display: grid;
	max-width: 1170px;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 25px;
	justify-items: center;
	align-items: center;
	margin: 0 auto;
	padding: 15px;
}

.product {
	width: 250px;
	border-radius: 5px;
	padding: 10px;
	background-color: #f8f9f4;
	position: relative;

	&__body{
		display: flex;
		flex-direction: column;
		align-items: center;
		//justify-content: center;
		height: 300px;
	}

	&__image {
		height: 250px;
	}

	&__name {
		font-size: 18px;
		font-weight: bold;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
	}

	&__price {
		font-size: 20px;
		font-weight: bold;
	}

	&__star {
		position: absolute;
		top: 15px;
		right: 15px;
	}

	&:last-child{
		justify-self: flex-start;
	}
}