/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 320px;
  margin: 0 auto;
}

.page-wrapper {
  font-family: "Lato", sans-serif;
}

.hidden {
  display: none;
}

.header {
  margin-bottom: 5px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  background: #373c3f;
  color: #ffffff;
  font-size: 12px;
}

.header-nav__heading {
  font-family: "Montserrat", sans-serif;
  align-self: center;
  letter-spacing: 0.2px;
  margin-left: 18px;
}

.nav-list {
  display: none;
  flex-direction: column;
  width: 182px;
  position: absolute;
  top: 35px;
  right: 0;
}

.nav-list--active {
  display: flex;
}

.nav-item {
  display: inline-block;
  padding: 12px 0 10px 12px;
  background: #fafafa;
  color: #444444;
  border-bottom: 1px solid #e9e9e9;
}

.nav-item:first-child {
  box-shadow: inset 0 6px 3px -5px rgba(0, 0, 0, 0.5);
  padding-top: 14px;
}

.nav-item:nth-child(2) {
  padding: 9px 0 9px 13px;
}

.nav-item:nth-child(3) {
  padding-top: 8px;
  padding-bottom: 9px;
}

.nav-item:nth-child(4) {
  padding-top: 9px;
}

.nav-item:last-child {
  padding-top: 9px;
  padding-bottom: 5px;
  box-shadow: 0 5px 0 #fafafa;
}

.nav-item:hover, .nav-item :active {
  background-color: #f5f5f5;
}

.main-logo {
  display: none;
}

.hamburger {
  position: relative;
  background-color: #202529;
  width: 41px;
  height: 35px;
  cursor: pointer;
}

.hamburger__item {
  display: block;
  position: absolute;
  width: 15px;
  height: 2px;
  background: #ffffff;
  left: 14px;
  transition: all .2s;
}

.hamburger__item--top {
  top: 13px;
}

.hamburger__item--middle {
  top: 17px;
}

.hamburger__item--bottom {
  top: 21px;
}

.hamburger--close .hamburger__item--middle {
  display: none;
}

.hamburger--close .hamburger__item--top, .hamburger--close .hamburger__item--bottom {
  left: 10px;
  height: 3px;
  width: 19px;
  top: 17px;
}

.hamburger--close .hamburger__item--top {
  transform: rotate(225deg);
}

.hamburger--close .hamburger__item--bottom {
  transform: rotate(-225deg);
}

.header-content {
  background: url("../img/header-bg.png") no-repeat center top/320px 175px;
  padding: 18px 20px 94px;
  font-weight: 700;
}

.header-content__site {
  display: inline-block;
  margin-top: 10px;
  color: #a6d6e0;
  font-size: 14px;
}

.header-motto {
  color: #ffffff;
  font-size: 16px;
}

.header-motto__item {
  display: block;
}

.header-motto__item:last-child {
  margin-top: 7px;
}

.products-list {
  display: flex;
  flex-direction: column;
}

.products-item {
  color: #ffffff;
  overflow: hidden;
}

.products-item:not(:last-child) {
  margin-bottom: 2px;
}

.products-item:hover .products__name, .products-item :active .products__name {
  transform: scale(1.1);
}

.products__link {
  display: flex;
  cursor: pointer;
}

.products__inner {
  display: flex;
  min-width: 249px;
  transition: all .3s;
}

.products__inner--pizza {
  background: url("../img/pizza-delivery-small.png") no-repeat center top/cover;
}

.products__inner--salads {
  background: url("../img/salads-small.png") no-repeat center top/cover;
}

.products__inner--desserts {
  background: url("../img/deserts-small.png") no-repeat center top/cover;
}

.products__name {
  font-size: 20px;
  font-weight: 700;
  transition: all .3s;
}

.products__name--pizza {
  margin: 24px auto 27px 64px;
}

.products__name--salads {
  margin: 27px auto 27px 74px;
}

.products__name--desserts {
  margin: 26px auto 24px 84px;
}

.products-button {
  display: inline-block;
  font-size: 11px;
  background-color: #acd8ad;
  padding: 28px 33px 34px 30px;
}

.section-title {
  position: relative;
  margin: 22px 0 11px 8px;
}

.section-title:after {
  content: '';
  position: absolute;
  display: none;
  top: 50%;
  transform: translate(-50%);
  right: 0;
  background: url("../img/menu-logo.png") no-repeat left center/contain;
}

.section-title__heading {
  font-size: 20px;
  text-transform: uppercase;
  text-align: left;
  height: 17px;
}

.section-title__subheading {
  display: inline-block;
  color: #cbccce;
  font-size: 10px;
}

.menu {
  margin-bottom: 34px;
}

.menu__container {
  display: flex;
  flex-direction: column;
}

.menu .container {
  color: #3f4043;
}

.menu__category {
  padding: 9px 0 8px 19px;
  text-transform: uppercase;
  font-size: 20px;
}

.menu__category--gray {
  padding: 8px 0 9px 19px;
  color: #acd8ad;
  background-color: #3f4043;
}

.menu__category--green {
  padding: 7px 0 10px 19px;
  color: #ffffff;
  background-color: #acd8ad;
}

.menu__inner-wrapper {
  padding: 0 18px;
}

.menu__subcategory, .menu__subcategory--pizza, .menu__subcategory--wine, .menu__subcategory--tea, .menu__subcategory--beer {
  font-size: 15px;
  text-transform: uppercase;
  margin: 9px 0 13px 0;
  padding: 8px 0;
  position: relative;
}

.menu__subcategory--pizza {
  margin-top: 9px;
  margin-bottom: 12px;
}

.menu__subcategory--pizza:after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -1px;
  top: 2px;
  background: url("../img/pizza-icon.png") no-repeat right center/contain;
}

.menu__subcategory--wine {
  margin-bottom: 12px;
}

.menu__subcategory--wine:after {
  content: '';
  position: absolute;
  width: 13px;
  height: 24px;
  right: 5px;
  top: 3px;
  background: url("../img/wine-icon.png") no-repeat right center/contain;
}

.menu__subcategory--tea {
  margin-bottom: 12px;
  margin-left: 1px;
}

.menu__subcategory--tea:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 21px;
  right: -3px;
  top: 3px;
  background: url("../img/tea-icon.png") no-repeat right center/contain;
}

.menu__subcategory--beer {
  margin-bottom: 12px;
}

.menu__subcategory--beer:after {
  content: '';
  position: absolute;
  width: 21px;
  height: 20px;
  right: 4px;
  top: 4px;
  background: url("../img/beer-icon.png") no-repeat right center/contain;
}

.menu-list {
  margin-bottom: 14px;
}

.menu-list--pizza {
  margin-bottom: 13px;
}

.menu-list--wine {
  margin-bottom: 30px;
}

.item-heading {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-left: 6px;
  font-size: 14px;
}

.item-heading:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  top: 7px;
  left: -6px;
  background-color: black;
}

.item-heading__name {
  margin-bottom: 8px;
  letter-spacing: -0.2px;
}

.item-heading__price {
  font-weight: 700;
  margin-right: -3px;
}

.menu-item {
  margin-bottom: 8px;
}

.menu-item__description {
  text-align: justify;
  font-size: 9px;
  line-height: 10px;
  margin-left: 1px;
  letter-spacing: -0.1px;
}

.menu-list--pizza .menu-item:first-child {
  margin-bottom: 9px;
}

.menu-list--pizza .menu-item:first-child .item-heading__name {
  margin-bottom: 7px;
}

.menu-list--pizza .menu-item:nth-child(2) {
  margin-bottom: 9px;
}

.menu-list--pizza .menu-item:nth-child(2) .item-heading__name {
  margin-bottom: 7px;
}

.menu-list--pizza .menu-item:nth-child(3) {
  margin-bottom: 9px;
}

.menu-list--pizza .menu-item:nth-child(3) .item-heading__name {
  margin-bottom: 8px;
}

.menu-list--pizza .menu-item:last-child {
  margin-bottom: 8px;
}

.menu-list--pizza .menu-item:last-child .item-heading__name {
  margin-bottom: 6px;
}

.menu-list--wine .menu-item:first-child {
  margin-bottom: 9px;
}

.menu-list--wine .menu-item:first-child .item-heading__name {
  margin-bottom: 7px;
}

.menu-list--tea {
  margin-bottom: 12px;
}

.menu-list--tea .menu-item:first-child {
  margin-bottom: 10px;
}

.menu-list--tea .menu-item:first-child .item-heading__name {
  margin-bottom: 6px;
}

.menu-list--tea .menu-item:nth-child(2) {
  margin-bottom: 9px;
}

.menu-list--tea .menu-item:nth-child(2) .item-heading__name {
  margin-bottom: 7px;
}

.menu-list--tea .menu-item:nth-child(3) {
  margin-bottom: 9px;
}

.menu-list--tea .menu-item:nth-child(3) .item-heading__name {
  margin-bottom: 7px;
}

.menu-list--tea .menu-item:nth-child(4) {
  margin-bottom: 13px;
}

.menu-list--tea .menu-item:nth-child(4) .item-heading__name {
  margin-bottom: 7px;
}

.menu-list--beer .menu-item:first-child {
  margin-bottom: 9px;
}

.menu-list--beer .menu-item:first-child .item-heading__name {
  margin-bottom: 7px;
}

.menu-list--beer .menu-item:last-child .item-heading__name {
  margin-bottom: 7px;
}

.footer-content {
  display: flex;
  align-items: center;
  background-color: #acd8ad;
  color: #ffffff;
  padding: 11px 0 10px;
}

.footer-text {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
}

.footer-text__item {
  font-family: "Montserrat", sans-serif;
  line-height: 16px;
  margin-left: 1px;
}

.footer-text__item:first-child {
  margin-left: 3px;
}

.footer-text__item:last-child {
  margin-top: 2px;
}
