body {
    margin: 0;
    /*background: #100d1c;*/
    background: #090a0f;
    height: 95vh;

}

.slider-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 5vh auto 0;
    overflow: hidden;
}

.slider-wrapper {
    display: flex;
}

.slide {
    box-sizing: border-box;
    width: 100%;
}

.slider-links {
    margin-top: 30px;
    text-align: center;
}

.slide-link-item {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f1caed;
    box-sizing: border-box;
    cursor: pointer;
    transition: .3s;
}

.slide-link-item:not(:last-child) {
    margin-right: 25px;
}

.active, .slide-link-item:hover {
    border: 3px solid #f1caed;
    background: #190521;
    transform: scale(1.3);
}

.arrow {
    color: #f1caed;
    font-size: 70px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all .2s;
}

.arrow i:hover {
    transform: scale(1.2);
}

.arrow-left {
    left: 20px;
}

.arrow-right {
    right: 20px;
}

.star{
    display: inline-block;
    z-index: -1;
    position: absolute;
    background: #fff;
    box-shadow: 0 0 9px rgba(255, 255, 255, 0.49);
    border-radius: 50%;
}