.form-control {
  width: 70%;
  margin: 0 auto 30px auto;

  &__label {
    display: block;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  &__input {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 12px 12px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 4px 10px -4px rgba($color: #000000, $alpha: 0.3);
    transition: all .15s;

    &:active, &:focus {
      bottom: 3px;
      box-shadow: 0px 7px 12px -1px rgba($color: #000000, $alpha: 0.2);

    }
  }

  &__error {
    display: block;
    text-align: left;
    font-size: 12px;
    color: red;
    margin-top: 5px;
  }
}