.form {
    display: inline-flex;
    /*padding: 10px;*/
    height: 70px;
    padding: 5px;
    margin: 100px;
    position: relative;
    border-radius: 10px ;
    font-family: sans-serif;
    border: 1px solid rgba(133, 133, 133, 0.31);
    background: rgba(242, 242, 242, 0.07);
}

.form-label {
    /*margin-right: 10px;*/
    margin: auto 10px;
}

/*.input-container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

.form-input {
    margin: auto;
    border: 1px solid rgba(133, 133, 133, 0.31);
    width: 250px;
    padding: 3px;
    border-radius: 5px;
    outline: none;
    background: #ffffff;
}


.price-label {
    position: absolute;
    left: 62px;
    /*display: inline-block;*/
    padding: 2px 20px 2px 5px;
    background: #fff;
    border-radius: 15px;
    color: rgb(179, 179, 179);
    border: 1px solid rgba(133, 133, 133, 0.31);
    font-size: 12px;
    text-transform: uppercase;
}

.span-close {
    display: inline-block;
    background: transparent;
    width: 13px;
    height: 13px;
    margin: 0;
    padding: 0;
    color: rgb(179, 179, 179);
    position: absolute;
    right: 3px;
    top: 3px;
    border-radius: 50%;
    border: 1px solid rgba(133, 133, 133, 0.2);
    font-size: 8px;
    font-weight: bold;
}

.incorrect-label{
    position: absolute;
    bottom: 10px;
    left: 65px;
    font-size: 12px;
    color: #ff0000;
}

