.button {
    display: inline-block;
    margin: 50px;
}

.card {
    font-family: sans-serif;
    display: block;
    max-width: 152px;
    min-height: 158px;
    padding: 20px 10px;
    border-radius: 4px;
    box-shadow: 0 5px 5px 1px rgba(0,0,0, 0.2);
}

.data-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list-item:not(:last-child) {
    margin-bottom: 7px;
}