.header {
  background-color: red;
}
.menu {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  &__link{
    display: inline-block;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 18px;
    padding: 10px 15px;

    &:hover, :focus {
      background-color: rgba(0, 0, 0, .1);
    }

    &--active {
      background-color: rgba(0, 0, 0, .1);
    }
  }

  
}